registry=https://geonet-615890063537.d.codeartifact.ap-southeast-2.amazonaws.com/npm/geonet-callum-test/
//geonet-615890063537.d.codeartifact.ap-southeast-2.amazonaws.com/npm/geonet-callum-test/:always-auth=true
//geonet-615890063537.d.codeartifact.ap-southeast-2.amazonaws.com/npm/geonet-callum-test/:_authToken=${CODEARTIFACT_AUTH_TOKEN}